<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Error"
      internalLogFile="internalLog.txt"
      internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="Marketplace" xsi:type="Database">
			<connectionString>Data Source=localhost\SQLEXPRESS; Initial Catalog=Marketplace; Trusted_Connection=true;</connectionString>
			<commandtext>INSERT INTO NLog VALUES(@date, @lvl, @msg)</commandtext>
			<parameter name="@date" layout="${date}"/>
			<parameter name="@lvl" layout="${level}"/>
			<parameter name="@msg" layout="${message}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxLevel="Error" final="true" />
		<logger name="*" minlevel="Error" writeTo="Marketplace" />

	</rules>
</nlog>
