#marketplaceMain {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}

.product {
    margin: 20px 10px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    .productButton {
        cursor: pointer;
    }

    .productContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .price {
            margin: 16px;
            display: flex;
            flex-direction: column;

            span {
                line-height: 22px;
                font-weight: 600;
            }

            small {
                font-size: 12px;
                color: #9A9A9A;
            }
        }

        .quantityAndImg {
            display: flex;
            flex-direction: row;

            .quantity {
                display: flex;
                flex-direction: column;
                margin: 22px 4px;

                span {
                    font-size: 10px;
                    color: #B3B3B3;
                }

                select {
                    cursor: pointer;
                    border-bottom: 1px solid #000;
                }
            }
        }

        .buyButton {
            cursor: pointer;
            background: none;
            border: none;
            width: 31px;
            height: 31px;
            margin: 18px 0px;
            margin-right: 14px;
            margin-left: 6px;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 280px;
    height: 80px;
    top: 82%;
    left: 35%;
    padding: 14px;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 99;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #FFF transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    justify-content: center;
    align-self: flex-end;

    button {
        cursor: pointer;
        height: 22px;
        width: 56px;
        margin: 0px 6px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: 1px solid #ED1C25;
    }

    .no,
    .yes:active {
        background-color: #FFF;
        color: #ED1C25;
    }

    .yes,
    .no:active {
        background-color: #ED1C25;
        color: #FFF;

    }
}

#overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;

    #modalContent {
        display: flex;
        flex-direction: column;
        height: 66%;
        width: 31%;
        background: #FFF;
        border-radius: 20px;
        position: relative;

        button {
            position: absolute;
            left: 94%;
            top: 2%;
            cursor: pointer;
        }

        img {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }

        #modalFrameOne {
            margin: 20px;
            overflow-y: auto;

            #modalFrameTwo {
                display: flex;
                justify-content: space-between;

                b {
                    width: 70%;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                }

                #priceAndQty {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    b {
                        width: 100%;
                    }

                    small {
                        width: 40px;
                        color: #9A9A9A;
                    }
                }
            }

            small {
                color: #9A9A9A;
            }

            p {
                margin-top: 10px;
                width: 100%;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}