#marketplaceMain {
    @include flex-align(row, flex-start);
    align-content: flex-start;
    justify-content: space-evenly;
}

.product {
    @include flex-align(column, space-between);
    margin: 20px 10px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    .productButton {
        cursor: pointer;
    }

    .productContent {
        display: flex;
        justify-content: space-between;
        padding: 14px;

        .price {
            @include flex-align(column, flex-start);

            span {
                line-height: 22px;
                font-weight: 600;
            }

            small {
                font-size: 12px;
            }
        }

        form {
            display: flex;
            position: relative;

            .quantity {
                @include flex-align(column, flex-start);

                span {
                    font-size: 10px;
                    color: $border-gray;
                }

                select {
                    cursor: pointer;
                    border-bottom: 1px solid #000;
                }
            }

            .buyButton {
                cursor: pointer;
                background: none;
                width: 31px;
                height: 31px;
                margin-left: 4px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #marketplaceMain {
        width: 80%;
        margin: 16px 0px;

        .buyContainer {
            @include pop-up(140%, -330%);
        }

        .buyContainer::before {
            @include triangle(84%);
        }
    }
}

.buyContainer {
    @include pop-up(140%, -160%);
}

.buyContainer::before {
    @include triangle(48%);
}

.buttons {
    display: flex;
    align-self: flex-end;
    margin: 16px 0px;
    justify-content: center;

    button {
        cursor: pointer;
        height: 22px;
        width: 56px;
        margin: 0px 6px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: 1px solid $main-color;
    }

    .no,
    .yes:active {
        background-color: $general-white;
        color: $main-color;
    }

    .yes,
    .no:active {
        background-color: $main-color;
        color: $general-white;
    }
}

#overlay {
    @include overlay;

    img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #modalContent {
        @include modal(620px, 600px);
        background-image: url("/images/marketplace/ellipse.png");
        background-position: bottom right;
        background-repeat: no-repeat;

        .closeModal {
            background: none;
        }

        #modalFrameOne {
            @include flex-align(column, space-between);
            margin: 20px;
            overflow-y: auto;

            #modalFrameTwo {
                display: flex;
                justify-content: space-between;

                #productName {
                    @include flex-align(column, flex-start);
                    width: 390px;
                }

                #priceAndQty {
                    @include flex-align(column, flex-end);
                }

                b {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                }

                small {
                    padding: 4px 0px;
                }
            }
        }

        p {
            margin-top: 10px;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
    }

    @media screen and (max-width: 768px) {
        #modalContent {
            @include modal(90%, 92%);

            .closeModal {
                top: 1%;
                left: 92%;
            }

            #modalFrameOne {
                #modalFrameTwo {
                    @include flex-align(column, flex-start);
                    width: 100%;

                    #productName {
                        width: 100%;
                    }

                    #priceAndQty {
                        margin: 10px 0px;
                    }

                    b {
                        width: 305px;
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 23px;
                    }

                    small {
                        padding: 0px;
                        align-self: flex-start;
                    }
                }

                p {
                    text-overflow: ellipsis;
                }
            }
        }
    }
}