#marketplaceMain {
    @include flex-align(row, flex-start);
    align-content: flex-start;
    justify-content: space-evenly;
}

.product {
    @include flex-align(column, space-between);
    margin: 20px 10px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

    .productButton {
        cursor: pointer;
    }

    .productContent {
        display: flex;
        justify-content: space-between;
        padding: 14px;

        .price {
            display: flex;
            flex-direction: column;

            span {
                line-height: 22px;
                font-weight: 600;
            }

            small {
                font-size: 12px;
                color: #9A9A9A;
            }
        }

        form {
            display: flex;
            position: relative;

            .quantity {
                @include flex-align(column, flex-start);

                span {
                    font-size: 10px;
                    color: #B3B3B3;
                }

                select {
                    cursor: pointer;
                    border-bottom: 1px solid #000;
                }
            }

            .buyButton {
                cursor: pointer;
                background: none;
                width: 31px;
                height: 31px;
                margin-left: 4px;
            }
        }
    }
}

@media screen and (max-width: 787px) {
    #marketplaceMain {
        width: 80%;
        margin: 16px 0px;
    }
}

.buyContainer {
    @include pop-up(140%, -160%);
}

.buyContainer::before {
    @include triangle(48%);
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    justify-content: center;
    align-self: flex-end;

    button {
        cursor: pointer;
        height: 22px;
        width: 56px;
        margin: 0px 6px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: 1px solid #ED1C25;
    }

    .no,
    .yes:active {
        background-color: #FFF;
        color: #ED1C25;
    }

    .yes,
    .no:active {
        background-color: #ED1C25;
        color: #FFF;

    }
}

#overlay {
    @include overlay;

    button {
        @include close-button;
    }

    img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #modalContent {
        @include modal(66%, 31%);
        background-image: url('/images/marketplace/ellipse.png');
        background-position: bottom right;
        background-repeat: no-repeat;

        .closeModal {
            background: none;
        }

        #modalFrameOne {
            margin: 20px;
            overflow-y: auto;


            #modalFrameTwo {
                display: flex;
                justify-content: space-between;

                b {
                    width: 70%;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                }

                #priceAndQty {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    b {
                        width: 100%;
                    }

                    small {
                        width: 40px;
                        color: #9A9A9A;
                    }
                }
            }
        }

        small {
            color: #9A9A9A;
        }

        p {
            margin-top: 10px;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
    }
}