#pendingOrdersMain,
#myOrdersMain {
    @include flex-align(column, flex-start);
    align-content: center;

    #headingSection,
    .pendingOrders {
        @include flex-align(row, center);
        width: 97%;
        margin-top: 20px;
        background: #dadcdd;
        border-radius: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        padding: 20px 20px;
    }

    .pendingOrders {
        position: relative;
        border: 1px solid #dadcdd;
        background-color: $general-white;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        padding: 6px 20px;
        height: 40px;

        .firstThree {
            display: flex;
            width: 45%;

            span {
                width: 33%;
            }
        }

        .firstTwo {
            display: flex;
            width: 30%;

            span {
                width: 50%;
            }
        }

        .orderStatus {
            display: flex;
            position: relative;

            .cancelOrder {
                cursor: pointer;
                margin-left: 26px;
            }
        }

        .cancelOrderContainer {
            @include pop-up(140%, -210%);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }

        .cancelOrderContainer::before {
            @include triangle(85%);
        }
    }

    .codeColumn {
        width: 15%;
    }

    .qtyColumn {
        width: 15%;
    }

    .priceColumn {
        width: 15%;
    }

    .orderedByColumn,
    .nameColumn {
        width: 25%;
    }

    .orderDateColumn {
        width: 20%;
    }

    .actionColumn {
        align-self: flex-end;
    }

    .completeButton {
        @include button($main-color);
        font-style: normal;
        font-size: 16px;
        margin-top: 0px;
        width: 90px;
    }
}

@media screen and (max-width: 768px) {

    #pendingOrdersMain,
    #myOrdersMain {
        flex-wrap: nowrap;
        margin: 16px;
        padding: 0px;
        width: 92%;
        height: 100%;

        #headingSection {
            display: none;
        }

        .pendingOrders {
            @include flex-align(column, center);
            align-self: center;
            width: 76%;
            min-height: 200px;
            height: 28%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            padding: 0px 10px;

            .cancelOrderContainer {
                @include pop-up(120%, -6%);
            }

            .cancelOrderContainer::before {
                @include triangle(90%);
            }

            span {
                width: 100%;
                padding: 10px 0px;
            }

            .firstThree,
            .firstTwo,
            .orderedByColumn,
            .orderDateColumn,
            .nameColumn {
                width: 100%;
                border-bottom: 1px solid $border-gray;
                border-spacing: 0;
                border-collapse: collapse;
            }

            .orderStatus {
                align-self: flex-start;
                margin: 0;
                width: 100%;
                padding-top: 24px;

                span {
                    padding: 0;
                }
            }

            .nameColumn,
            .codeColumn,
            .qtyColumn,
            .priceColumn,
            .orderedByColumn,
            .orderDateColumn,
            .orderStatus>span {
                &::before {
                    font-weight: 700;
                }
            }

            .codeColumn,
            .qtyColumn,
            .priceColumn {
                &::before {
                    display: block;
                }
            }

            .nameColumn::before {
                content: "Name:   ";
            }

            .codeColumn::before {
                content: "Code   ";
            }

            .qtyColumn::before {
                content: "Qty   ";
            }

            .priceColumn::before {
                content: "Price   ";
            }

            .orderedByColumn::before {
                content: "Ordered by:   ";
            }

            .orderDateColumn::before {
                content: "Order date:   ";
            }

            .orderStatus span::before {
                content: "Status:   ";
            }

            .completeButton {
                margin-top: 16px;
                align-self: center;
            }
        }
    }
}