@mixin flex-align($direction, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}

//Pop up window with yes and no

@mixin pop-up($top, $left) {
    @include flex-align(column, center);
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    color: $general-black;
    width: 280px;
    height: 80px;
    top: $top;
    left: $left;
    padding: 14px;
    background-color: $general-white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 99;
}

//Triangle on top of pop up window

@mixin triangle($left) {
    content: '';
    position: absolute;
    bottom: 100%;
    left: $left;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent $general-white transparent;
}

//Background for the modals

@mixin overlay {
    @include flex-align(column, center);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;
    opacity: 0;
    transition: 0.5s;
}

//Modals styling

@mixin modal($height, $width) {
    @include flex-align(column, space-between);
    height: $height;
    width: $width;
    background-color: $general-white;
    border-radius: 20px;
    position: relative;
    opacity: 0;
    transition: 0.5s;
}

//General button styling

@mixin button($backgroundColor) {
    cursor: pointer;
    margin-top: 20px;
    color: $general-white;
    width: 120px;
    height: 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background: $backgroundColor;
}