$general-white: #FFF;
$general-black: #000;
$main-color: #ED1C25;
$body-background: #F0F2F3;
$border-gray: #B3B3B3;
$add-button: #2E7d32;
$general-gray: #9A9A9A;
$upload-image: #ED6C02;
$delete-image: #ED1C25;
$orders-heading: #DADCDD;
$return-button: #1976d2;