$general-white: #FFF;
$general-black: #000;
$main-color: #ED1C25;
$body-background: #F0F2F3;
$border-gray: #b3b3b3;
$add-button: #2e7d32;
$underline-gray: #9a9a9a;
$upload-image: #ed6c02;
$delete-image: #ED1C25;