//Sidebar with navigation

aside,
main {
    height: calc(100vh - 160px);
    background-color: $general-white;
    border-radius: 20px;
    margin: 30px 20px;
    overflow-y: auto;
    transition: 0.5s;
}

aside {
    @include flex-align(column, flex-start);
    padding: 20px 8px;
    justify-content: space-evenly;
    width: 24%;
    min-width: 210px;

    .profileGreet2 {
        display: none;
        margin: 0px 14px;
        margin-top: 20px;

        span {
            margin-left: 10px;
        }
    }

    nav {
        height: inherit;
        width: 100%;

        ul {
            @include flex-align(column, flex-start);
            list-style: none;
            height: 94%;
            margin-top: 7%;

            li {
                width: 100%;
            }

            .navButton {
                @include flex-align(row, center);
                justify-content: flex-start;
                margin: 6px 14px;
                font-weight: 400;
                background: $general-white;
                color: $general-black;
                height: 46px;
                border-radius: 10px;
            }

            .navButton:hover {
                cursor: pointer;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            }

            .navButton.active {
                color: $general-white;
                background: $main-color;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

                .icon>path {
                    fill: $general-white;
                }
            }

            .icon {
                margin: 0px 14px;
            }

            #logout {
                margin-top: auto;
            }
        }
    }
}

.onHamburger {
    #hamburger {
        display: none
    }

    #closeMenu {
        display: block
    }

    main {
        right: -100%;

    }

    aside {
        left: 0;
    }
}

.onClose {
    #hamburger {
        display: block
    }

    #closeMenu {
        display: none
    }

    main {
        right: 0;

    }

    aside {
        left: -100%;
    }
}

@media screen and (max-width: 768px) {

    aside,
    main {
        position: fixed;
        right: 0;
        height: 88%;
        width: 92%;
        margin: 4%;
        padding: 0;
    }

    aside {

        left: -100%;

        .profileGreet2 {
            @include flex-align(row, center);
        }

        nav ul {
            margin-top: 20px;
        }
    }
}