* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#hamburger,
#closeMenu {
  display: none;
}

aside {
  left: -100%;
  position: static;
}

body {
  height: 100vh;
  background-color: #F0F2F3;
  font-family: "Roboto";
}
body #asideMain {
  display: flex;
  width: 100%;
}

main {
  padding: 20px 26px;
  width: 100%;
}

small {
  color: #b3b3b3;
}

img {
  height: auto;
  max-width: 100%;
  pointer-events: none;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  left: 94%;
  top: 2%;
  background: none;
}

button,
a {
  pointer-events: auto;
}

a {
  color: #FFF;
  text-decoration: none;
}

svg {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  #asideMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
  }
  #hamburger {
    display: block;
  }
  aside {
    position: fixed;
    left: -100%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  font-family: "Montserrat";
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  height: 54px;
}
header #logo {
  width: 30px;
  height: 30px;
  padding-right: 70px;
}
header #pageTitle {
  font-size: 30px;
}
header .profileGreet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .profileGreet span {
  font-weight: 700;
  margin-right: 10px;
}
header .profileGreet img {
  width: 30px;
  height: 30px;
}
header #closeMenu,
header #hamburger {
  cursor: pointer;
  color: #ED1C25;
  display: none;
  align-self: center;
}
@media screen and (max-width: 768px) {
  header #logo {
    padding-right: 0px;
  }
  header .profileGreet {
    display: none;
  }
  header #hamburger {
    display: block;
  }
}

aside,
main {
  height: calc(100vh - 160px);
  background-color: #FFF;
  border-radius: 20px;
  margin: 30px 20px;
  overflow-y: auto;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 8px;
  justify-content: space-evenly;
  width: 24%;
  min-width: 160px;
}
aside .profileGreet2 {
  display: none;
  margin: 0px 14px;
  margin-top: 20px;
}
aside .profileGreet2 span {
  margin-left: 10px;
}
aside nav {
  height: inherit;
  width: 100%;
}
aside nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  height: 94%;
  margin-top: 7%;
}
aside nav ul li {
  width: 100%;
}
aside nav ul .navButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 14px;
  font-weight: 400;
  background: #FFF;
  color: #000;
  height: 46px;
  width: 90%;
  border-radius: 10px;
}
aside nav ul .navButton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
aside nav ul .navButton.active {
  color: #FFF;
  background: #ED1C25;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
aside nav ul .navButton.active .icon > path {
  fill: #FFF;
}
aside nav ul .icon {
  margin: 0px 14px;
}
aside nav ul #logout {
  margin-top: auto;
}

.onHamburger #hamburger {
  display: none;
}
.onHamburger #closeMenu {
  display: block;
}
.onHamburger main {
  right: -100%;
}
.onHamburger aside {
  left: 0;
}

.onClose #hamburger {
  display: block;
}
.onClose #closeMenu {
  display: none;
}
.onClose main {
  right: 0;
}
.onClose aside {
  left: -100%;
}

@media screen and (max-width: 768px) {
  aside,
  main {
    position: fixed;
    right: 0;
    height: 88%;
    width: 92%;
    margin: 4%;
    padding: 0;
  }
  aside {
    left: -100%;
  }
  aside .profileGreet2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  aside nav ul {
    margin-top: 20px;
  }
}
.buttons {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin-top: 16px;
}
.buttons button {
  cursor: pointer;
  height: 22px;
  width: 56px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #ED1C25;
}
.buttons .yes {
  margin-right: 10px;
}
.buttons .no,
.buttons .yes:active {
  background-color: #FFF;
  color: #ED1C25;
}
.buttons .yes,
.buttons .no:active {
  background-color: #ED1C25;
  color: #FFF;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 280px;
  height: 80px;
  padding: 14px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 1;
  margin: 4px;
}

button[type=submit] {
  cursor: pointer;
  margin: 4% 0;
  align-self: center;
  width: 150px;
  min-height: 34px;
  background: #2e7d32;
  color: #FFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

#landingMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url("/images/home/landing-background.png") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}
#landingMain #loginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ED1C25;
  border-color: #ED1C25;
  font-size: 2rem;
  width: 175px;
  height: 62px;
  margin-top: 120px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#landingMain #loginButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #asideMain #landingMain {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #asideMain #landingMain #marketplaceLogo {
    width: 80%;
  }
}
#marketplaceMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  justify-content: space-evenly;
}
#marketplaceMain .product {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 20px 10px;
  width: 256px;
  height: 224px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#marketplaceMain .product .productButton {
  cursor: pointer;
  align-self: center;
  height: 100%;
}
#marketplaceMain .product img {
  height: 150px;
}
#marketplaceMain .product .productContent {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
#marketplaceMain .product .productContent .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#marketplaceMain .product .productContent .price span {
  line-height: 22px;
  font-weight: 600;
}
#marketplaceMain .product .productContent .price small {
  font-size: 12px;
}
#marketplaceMain .product .productContent form {
  display: flex;
  position: relative;
}
#marketplaceMain .product .productContent form .quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#marketplaceMain .product .productContent form .quantity span {
  font-size: 10px;
  color: #b3b3b3;
}
#marketplaceMain .product .productContent form .quantity select {
  cursor: pointer;
  border-bottom: 1px solid #000;
}
#marketplaceMain .product .productContent form .buyButton {
  cursor: pointer;
  background: none;
  width: 31px;
  height: 31px;
  margin-left: 4px;
}

#productModal {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-image: url("/images/marketplace/ellipse.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 620px;
  max-width: 640px;
  width: 100%;
  overflow-y: auto;
}
#productModal #modalImage {
  align-self: center;
  height: auto;
  max-height: 320px;
  width: -moz-fit-content;
  width: fit-content;
}
#productModal #modalFrameOne {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 20px;
  margin-left: 20px;
  flex-wrap: wrap;
}
#productModal #modalFrameOne #modalFrameTwo {
  display: flex;
  justify-content: space-between;
}
#productModal #modalFrameOne #modalFrameTwo #productName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 390px;
}
#productModal #modalFrameOne #modalFrameTwo #priceAndQty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
#productModal #modalFrameOne #modalFrameTwo b {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
#productModal #modalFrameOne #modalFrameTwo small {
  padding: 4px 0px;
}
#productModal #modalFrameOne p {
  overflow-y: auto;
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 768px) {
  #productModal #modalFrameOne #modalFrameTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #productModal #modalFrameOne #modalFrameTwo #productName {
    width: 100%;
  }
  #productModal #modalFrameOne #modalFrameTwo #priceAndQty {
    margin: 10px 0;
  }
  #productModal #modalFrameOne #modalFrameTwo b {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  #productModal #modalFrameOne #modalFrameTwo small {
    padding: 0px;
    align-self: flex-start;
  }
  #productModal #modalFrameOne p {
    text-overflow: ellipsis;
  }
}
#searchSpace {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
#searchSpace #input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 240px;
  height: 36px;
  border-bottom: 1px solid #000;
}
#searchSpace #input input {
  outline: none;
  padding-bottom: 2px;
}
#searchSpace #input svg {
  padding-bottom: 6px;
  margin-right: 10px;
}
#searchSpace button {
  cursor: pointer;
  margin-left: 20px;
  width: 120px;
  height: 36px;
  color: #FFF;
  background: #2e7d32;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#searchSpace button svg {
  margin-right: 6px;
}

#tableBorder {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin-top: 40px;
  width: 99%;
  height: 88%;
}
#tableBorder .edit {
  cursor: pointer;
  color: #ed6c02;
}
#tableBorder .delete {
  cursor: pointer;
  margin-left: 10px;
  color: #ED1C25;
}

.addForm,
.editForm {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: #FFF;
  overflow-y: auto;
  overflow-x: auto;
}
.addForm .row,
.editForm .row {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.addForm .row .leftModal,
.editForm .row .leftModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 40%;
  margin-left: 8%;
}
.addForm .row .leftModal h2,
.editForm .row .leftModal h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
.addForm .row .rightModal,
.editForm .row .rightModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-top: 14%;
}
.addForm .row .rightModal img,
.editForm .row .rightModal img {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  max-width: 260px;
  max-height: 150px;
}
.addForm .row .rightModal .uploadDelete,
.editForm .row .rightModal .uploadDelete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.addForm .row .rightModal .uploadImg,
.editForm .row .rightModal .uploadImg {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ed6c02;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addForm .row .rightModal .deleteImg,
.editForm .row .rightModal .deleteImg {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ED1C25;
}
.addForm .row .rightModal .inputImage,
.editForm .row .rightModal .inputImage {
  display: none;
}

@media screen and (max-width: 768px) {
  #searchSpace {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 10px;
  }
  #searchSpace #input {
    width: 46%;
  }
  #searchSpace #input input {
    width: 50%;
  }
  #tableBorder {
    margin-top: 20px;
    margin: 20px 10px;
    width: auto;
    height: auto;
  }
  .addForm,
  .editForm {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    border-radius: 20px;
  }
  .addForm .row,
  .editForm .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  .addForm .row .leftModal,
  .addForm .row .rightModal,
  .editForm .row .leftModal,
  .editForm .row .rightModal {
    margin: 8px;
    width: 90%;
  }
  .addForm .row .leftModal h2,
  .addForm .row .rightModal h2,
  .editForm .row .leftModal h2,
  .editForm .row .rightModal h2 {
    margin-bottom: 28px;
  }
  .addForm .row .leftModal .uploadDelete,
  .addForm .row .rightModal .uploadDelete,
  .editForm .row .leftModal .uploadDelete,
  .editForm .row .rightModal .uploadDelete {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}
#pendingOrdersMain,
#myOrdersMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
#pendingOrdersMain #headingSection,
#pendingOrdersMain .order,
#myOrdersMain #headingSection,
#myOrdersMain .order {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  margin-top: 20px;
  background: #dadcdd;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 20px;
}
#pendingOrdersMain #headingSection .orderStatus,
#pendingOrdersMain .order .orderStatus,
#myOrdersMain #headingSection .orderStatus,
#myOrdersMain .order .orderStatus {
  display: flex;
  position: relative;
  margin-left: auto;
  width: 90px;
}
#pendingOrdersMain #headingSection .orderStatus .cancelOrder,
#pendingOrdersMain .order .orderStatus .cancelOrder,
#myOrdersMain #headingSection .orderStatus .cancelOrder,
#myOrdersMain .order .orderStatus .cancelOrder {
  cursor: pointer;
  margin-left: 28px;
}
#pendingOrdersMain .order,
#myOrdersMain .order {
  position: relative;
  border: 1px solid #dadcdd;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 20px;
  min-height: 40px;
}
#pendingOrdersMain .order .firstThree,
#myOrdersMain .order .firstThree {
  display: flex;
  width: 45%;
}
#pendingOrdersMain .order .firstThree span,
#myOrdersMain .order .firstThree span {
  width: 33%;
}
#pendingOrdersMain .order .firstTwo,
#myOrdersMain .order .firstTwo {
  display: flex;
  width: 30%;
}
#pendingOrdersMain .order .firstTwo span,
#myOrdersMain .order .firstTwo span {
  width: 50%;
}
#pendingOrdersMain .codeColumn,
#myOrdersMain .codeColumn {
  width: 15%;
}
#pendingOrdersMain .qtyColumn,
#myOrdersMain .qtyColumn {
  width: 15%;
}
#pendingOrdersMain .priceColumn,
#myOrdersMain .priceColumn {
  width: 15%;
}
#pendingOrdersMain .orderedByColumn,
#pendingOrdersMain .nameColumn,
#myOrdersMain .orderedByColumn,
#myOrdersMain .nameColumn {
  width: 25%;
}
#pendingOrdersMain .orderDateColumn,
#myOrdersMain .orderDateColumn {
  width: 20%;
}
#pendingOrdersMain .actionColumn,
#myOrdersMain .actionColumn {
  align-self: flex-end;
}
#pendingOrdersMain .completeButton,
#myOrdersMain .completeButton {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ED1C25;
  font-style: normal;
  font-size: 16px;
  margin-top: 0px;
  width: 90px;
}

@media screen and (max-width: 768px) {
  #asideMain #pendingOrdersMain #headingSection,
  #asideMain #myOrdersMain #headingSection {
    display: none;
  }
  #asideMain #pendingOrdersMain .order,
  #asideMain #myOrdersMain .order {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 76%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 10px;
  }
  #asideMain #pendingOrdersMain .order .cancelOrder,
  #asideMain #myOrdersMain .order .cancelOrder {
    margin: 0px;
  }
  #asideMain #pendingOrdersMain .order span,
  #asideMain #myOrdersMain .order span {
    width: 100%;
    padding: 10px 0px;
  }
  #asideMain #pendingOrdersMain .order .firstThree,
  #asideMain #pendingOrdersMain .order .firstTwo,
  #asideMain #pendingOrdersMain .order .orderedByColumn,
  #asideMain #pendingOrdersMain .order .orderDateColumn,
  #asideMain #pendingOrdersMain .order .nameColumn,
  #asideMain #myOrdersMain .order .firstThree,
  #asideMain #myOrdersMain .order .firstTwo,
  #asideMain #myOrdersMain .order .orderedByColumn,
  #asideMain #myOrdersMain .order .orderDateColumn,
  #asideMain #myOrdersMain .order .nameColumn {
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
    border-spacing: 0;
    border-collapse: collapse;
  }
  #asideMain #pendingOrdersMain .order .orderStatus,
  #asideMain #myOrdersMain .order .orderStatus {
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }
  #asideMain #pendingOrdersMain .order .orderStatus span,
  #asideMain #myOrdersMain .order .orderStatus span {
    padding: 0;
  }
  #asideMain #pendingOrdersMain .order .nameColumn::before,
  #asideMain #pendingOrdersMain .order .codeColumn::before,
  #asideMain #pendingOrdersMain .order .qtyColumn::before,
  #asideMain #pendingOrdersMain .order .priceColumn::before,
  #asideMain #pendingOrdersMain .order .orderedByColumn::before,
  #asideMain #pendingOrdersMain .order .orderDateColumn::before,
  #asideMain #pendingOrdersMain .order .orderStatus::before,
  #asideMain #myOrdersMain .order .nameColumn::before,
  #asideMain #myOrdersMain .order .codeColumn::before,
  #asideMain #myOrdersMain .order .qtyColumn::before,
  #asideMain #myOrdersMain .order .priceColumn::before,
  #asideMain #myOrdersMain .order .orderedByColumn::before,
  #asideMain #myOrdersMain .order .orderDateColumn::before,
  #asideMain #myOrdersMain .order .orderStatus::before {
    font-weight: 700;
  }
  #asideMain #pendingOrdersMain .order .codeColumn::before,
  #asideMain #pendingOrdersMain .order .qtyColumn::before,
  #asideMain #pendingOrdersMain .order .priceColumn::before,
  #asideMain #myOrdersMain .order .codeColumn::before,
  #asideMain #myOrdersMain .order .qtyColumn::before,
  #asideMain #myOrdersMain .order .priceColumn::before {
    display: block;
  }
  #asideMain #pendingOrdersMain .order .nameColumn::before,
  #asideMain #myOrdersMain .order .nameColumn::before {
    content: "Name: ";
  }
  #asideMain #pendingOrdersMain .order .codeColumn::before,
  #asideMain #myOrdersMain .order .codeColumn::before {
    content: "Code";
  }
  #asideMain #pendingOrdersMain .order .qtyColumn::before,
  #asideMain #myOrdersMain .order .qtyColumn::before {
    content: "Qty";
  }
  #asideMain #pendingOrdersMain .order .priceColumn::before,
  #asideMain #myOrdersMain .order .priceColumn::before {
    content: "Price";
  }
  #asideMain #pendingOrdersMain .order .orderedByColumn::before,
  #asideMain #myOrdersMain .order .orderedByColumn::before {
    content: "Ordered by: ";
  }
  #asideMain #pendingOrdersMain .order .orderDateColumn::before,
  #asideMain #myOrdersMain .order .orderDateColumn::before {
    content: "Order date: ";
  }
  #asideMain #pendingOrdersMain .order .orderStatus::before,
  #asideMain #myOrdersMain .order .orderStatus::before {
    content: "Status: ";
    margin-right: 4px;
  }
  #asideMain #pendingOrdersMain .order .completeButton,
  #asideMain #myOrdersMain .order .completeButton {
    margin-top: 14px;
    margin-bottom: 14px;
    align-self: center;
  }
}/*# sourceMappingURL=styles.css.map */