* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  height: 100vh;
  background-color: #F0F2F3;
  font-family: "Roboto";
}
body #root {
  display: flex;
  width: 100%;
}

main {
  padding: 20px 26px;
  width: 100%;
}

small {
  color: #b3b3b3;
}

img {
  height: auto;
  max-width: 100%;
  pointer-events: none;
}

.closeModal {
  cursor: pointer;
  position: absolute;
  left: 94%;
  top: 2%;
  background: none;
}

button,
a {
  pointer-events: auto;
}

a {
  color: #FFF;
  text-decoration: none;
}

svg {
  pointer-events: none;
}

#popupParent {
  position: relative;
}

@media screen and (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
  }
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  font-family: "Montserrat";
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  height: 54px;
}
header #logo {
  width: 30px;
  height: 30px;
  padding-right: 70px;
}
header #pageTitle {
  font-size: 30px;
}
header .profileGreet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .profileGreet span {
  font-weight: 700;
  margin-right: 10px;
}
header .profileGreet img {
  width: 30px;
  height: 30px;
}
header #closeMenu,
header #hamburger {
  cursor: pointer;
  color: #ED1C25;
  display: none;
  align-self: center;
}
@media screen and (max-width: 768px) {
  header #logo {
    padding-right: 0px;
  }
  header .profileGreet {
    display: none;
  }
}

aside,
main {
  height: calc(100vh - 160px);
  background-color: #FFF;
  border-radius: 20px;
  margin: 30px 20px;
  overflow-y: auto;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 8px;
  justify-content: space-evenly;
  width: 24%;
  min-width: 160px;
}
aside .profileGreet2 {
  display: none;
  margin: 0px 14px;
  margin-top: 20px;
}
aside .profileGreet2 span {
  margin-left: 10px;
}
aside nav {
  height: inherit;
  width: 100%;
}
aside nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  height: 94%;
  margin-top: 7%;
}
aside nav ul li {
  width: 100%;
}
aside nav ul .navButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 14px;
  font-weight: 400;
  background: #FFF;
  color: #000;
  height: 46px;
  width: 90%;
  border-radius: 10px;
}
aside nav ul .navButton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
aside nav ul .navButton:active {
  cursor: pointer;
  color: #FFF;
  background: #ED1C25;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
aside nav ul .navButton:active .icon > path {
  fill: #FFF;
}
aside nav ul .icon {
  margin: 0px 14px;
}
aside nav ul .active {
  cursor: pointer;
  color: #FFF;
  background: #ED1C25;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  fill: #FFF;
}
aside nav ul #logout {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  aside,
  main {
    height: 100%;
    width: 92%;
    margin: 16px 0px;
    padding: 0;
  }
  aside {
    display: none;
  }
  aside .profileGreet2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  aside nav ul {
    margin-top: 20px;
  }
}
#landingMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url("/images/home/landing-background.png") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}
#landingMain #loginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ED1C25;
  border-color: #ED1C25;
  font-size: 2rem;
  width: 175px;
  height: 62px;
  margin-top: 120px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#landingMain #loginButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #root #landingMain {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #root #landingMain #marketplaceLogo {
    width: 80%;
  }
}
.buttons {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin-top: 16px;
}
.buttons button {
  cursor: pointer;
  height: 22px;
  width: 56px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #ED1C25;
}
.buttons .yes {
  margin-right: 10px;
}
.buttons .no,
.buttons .yes:active {
  background-color: #FFF;
  color: #ED1C25;
}
.buttons .yes,
.buttons .no:active {
  background-color: #ED1C25;
  color: #FFF;
}

#marketplaceMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  justify-content: space-evenly;
}
#marketplaceMain .product {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 20px 10px;
  width: 256px;
  height: 260px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#marketplaceMain .product .productButton {
  cursor: pointer;
  align-self: center;
  height: 320px;
}
#marketplaceMain .product img {
  height: 150px;
}
#marketplaceMain .product .productContent {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
#marketplaceMain .product .productContent .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#marketplaceMain .product .productContent .price span {
  line-height: 22px;
  font-weight: 600;
}
#marketplaceMain .product .productContent .price small {
  font-size: 12px;
}
#marketplaceMain .product .productContent form {
  display: flex;
  position: relative;
}
#marketplaceMain .product .productContent form .quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#marketplaceMain .product .productContent form .quantity span {
  font-size: 10px;
  color: #b3b3b3;
}
#marketplaceMain .product .productContent form .quantity select {
  cursor: pointer;
  border-bottom: 1px solid #000;
}
#marketplaceMain .product .productContent form .buyButton {
  cursor: pointer;
  background: none;
  width: 31px;
  height: 31px;
  margin-left: 4px;
}
#marketplaceMain .buyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #000;
  width: 280px;
  height: 80px;
  top: 42px;
  left: -135px;
  padding: 14px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 99;
}
#marketplaceMain .buyContainer::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 48%;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #FFF transparent;
}

@media screen and (max-width: 768px) {
  #marketplaceMain .buyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #000;
    width: 280px;
    height: 80px;
    top: 44px;
    left: -245px;
    padding: 14px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 99;
  }
  #marketplaceMain .buyContainer::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 84%;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #FFF transparent;
  }
}
#addItemOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5019607843);
}
#addItemOverlay #modalContent {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  background-color: #FFF;
  border-radius: 20px;
  position: relative;
  min-height: 620px;
  max-width: 600px;
  background-image: url("/images/marketplace/ellipse.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow-y: auto;
}
#addItemOverlay #modalContent .closeModal {
  background: none;
}
#addItemOverlay #modalContent #modalImage {
  align-self: center;
}
#addItemOverlay #modalContent #modalImage img {
  height: auto;
  max-height: 320px;
  width: -moz-fit-content;
  width: fit-content;
}
#addItemOverlay #modalContent #modalFrameOne {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 20px;
  flex-wrap: wrap;
}
#addItemOverlay #modalContent #modalFrameOne #modalFrameTwo {
  display: flex;
  justify-content: space-between;
}
#addItemOverlay #modalContent #modalFrameOne #modalFrameTwo #productName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 390px;
}
#addItemOverlay #modalContent #modalFrameOne #modalFrameTwo #priceAndQty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#addItemOverlay #modalContent #modalFrameOne #modalFrameTwo b {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
#addItemOverlay #modalContent #modalFrameOne #modalFrameTwo small {
  padding: 4px 0px;
}
#addItemOverlay #modalContent p {
  overflow-y: auto;
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 768px) {
  #addItemOverlay #modalContent {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: -moz-fit-content;
    height: fit-content;
    width: 92%;
    background-color: #FFF;
    border-radius: 20px;
    position: relative;
  }
  #addItemOverlay #modalContent .closeModal {
    top: 1%;
    left: 92%;
  }
  #addItemOverlay #modalContent #modalFrameOne #modalFrameTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #addItemOverlay #modalContent #modalFrameOne #modalFrameTwo #productName {
    width: 100%;
  }
  #addItemOverlay #modalContent #modalFrameOne #modalFrameTwo #priceAndQty {
    margin: 10px 0px;
  }
  #addItemOverlay #modalContent #modalFrameOne #modalFrameTwo b {
    width: 305px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  #addItemOverlay #modalContent #modalFrameOne #modalFrameTwo small {
    padding: 0px;
    align-self: flex-start;
  }
  #addItemOverlay #modalContent #modalFrameOne p {
    text-overflow: ellipsis;
  }
}

#inventoryMain {
  flex-direction: column;
}
#inventoryMain #searchSpace {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
#inventoryMain #searchSpace #input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 240px;
  height: 36px;
  border-bottom: 1px solid #000;
}
#inventoryMain #searchSpace #input input {
  outline: none;
  padding-bottom: 2px;
}
#inventoryMain #searchSpace #input svg {
  padding-bottom: 6px;
  margin-right: 12px;
}
#inventoryMain #searchSpace button {
  cursor: pointer;
  margin-left: 20px;
  width: 120px;
  height: 36px;
  color: #FFF;
  background: #2e7d32;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#inventoryMain #searchSpace button svg {
  margin-right: 6px;
}
#inventoryMain #tableBorder {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin-top: 40px;
  height: calc(100% - 100px);
  overflow-x: auto;
}
#inventoryMain #tableBorder table {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}
#inventoryMain #tableBorder table tr th {
  padding: 22px;
  border-bottom: 1px solid #b3b3b3;
  padding-left: 20px;
}
#inventoryMain #tableBorder table tr td {
  padding: 16px;
  border-bottom: 1px solid #b3b3b3;
  padding-left: 20px;
}
#inventoryMain #tableBorder table th,
#inventoryMain #tableBorder table td {
  white-space: nowrap;
  padding-left: 20px;
}
#inventoryMain #tableBorder table th a,
#inventoryMain #tableBorder table td a {
  margin: 8px;
}
#inventoryMain #tableBorder table .editDelete {
  position: relative;
  width: 60px;
}
#inventoryMain #tableBorder table .editDelete .edit {
  position: relative;
  cursor: pointer;
}
#inventoryMain #tableBorder table .editDelete .delete {
  position: relative;
  cursor: pointer;
}
#inventoryMain .removeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #000;
  width: 280px;
  height: 80px;
  top: 150%;
  left: -295%;
  padding: 14px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 99;
  white-space: break-spaces;
}
#inventoryMain .removeContainer::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 70%;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #FFF transparent;
}

#addItemOverlay,
#addItemOverlay2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5019607843);
}
#addItemOverlay .modalContent,
#addItemOverlay2 .modalContent {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 700px;
  width: 600px;
  background-color: #FFF;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
}
#addItemOverlay .modalContent .row,
#addItemOverlay2 .modalContent .row {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
#addItemOverlay .modalContent .row .leftModal,
#addItemOverlay2 .modalContent .row .leftModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 40%;
  margin-left: 8%;
}
#addItemOverlay .modalContent .row .leftModal h2,
#addItemOverlay2 .modalContent .row .leftModal h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
#addItemOverlay .modalContent .row .leftModal input,
#addItemOverlay .modalContent .row .leftModal textarea,
#addItemOverlay .modalContent .row .leftModal select,
#addItemOverlay2 .modalContent .row .leftModal input,
#addItemOverlay2 .modalContent .row .leftModal textarea,
#addItemOverlay2 .modalContent .row .leftModal select {
  resize: none;
  font-family: "Inter";
  border-bottom: 1px solid #9a9a9a;
  outline: none;
  margin-bottom: 4px;
  width: 240px;
  height: 45px;
  padding: 8px 0px;
}
#addItemOverlay .modalContent .row .leftModal input::-moz-placeholder, #addItemOverlay .modalContent .row .leftModal textarea::-moz-placeholder, #addItemOverlay .modalContent .row .leftModal select::-moz-placeholder, #addItemOverlay2 .modalContent .row .leftModal input::-moz-placeholder, #addItemOverlay2 .modalContent .row .leftModal textarea::-moz-placeholder, #addItemOverlay2 .modalContent .row .leftModal select::-moz-placeholder {
  color: #9a9a9a;
}
#addItemOverlay .modalContent .row .leftModal input::placeholder,
#addItemOverlay .modalContent .row .leftModal textarea::placeholder,
#addItemOverlay .modalContent .row .leftModal select::placeholder,
#addItemOverlay2 .modalContent .row .leftModal input::placeholder,
#addItemOverlay2 .modalContent .row .leftModal textarea::placeholder,
#addItemOverlay2 .modalContent .row .leftModal select::placeholder {
  color: #9a9a9a;
}
#addItemOverlay .modalContent .row .leftModal textarea,
#addItemOverlay2 .modalContent .row .leftModal textarea {
  height: 90px;
}
#addItemOverlay .modalContent .row .rightModal,
#addItemOverlay2 .modalContent .row .rightModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-top: 14%;
}
#addItemOverlay .modalContent .row .rightModal img,
#addItemOverlay2 .modalContent .row .rightModal img {
  max-width: 260px;
  max-height: 150px;
}
#addItemOverlay .modalContent .row .rightModal .uploadDelete,
#addItemOverlay2 .modalContent .row .rightModal .uploadDelete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#addItemOverlay .modalContent .row .rightModal .uploadImg,
#addItemOverlay2 .modalContent .row .rightModal .uploadImg {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ed6c02;
}
#addItemOverlay .modalContent .row .rightModal .deleteImg,
#addItemOverlay2 .modalContent .row .rightModal .deleteImg {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ED1C25;
}
#addItemOverlay .modalContent .row .rightModal .inputImage,
#addItemOverlay2 .modalContent .row .rightModal .inputImage {
  display: none;
}
#addItemOverlay button[type=submit],
#addItemOverlay2 button[type=submit] {
  cursor: pointer;
  margin: 4% 0;
  align-self: center;
  width: 150px;
  min-height: 34px;
  background: #2e7d32;
  color: #FFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  #inventoryMain #searchSpace {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 10px;
  }
  #inventoryMain #searchSpace #input {
    width: 46%;
  }
  #inventoryMain #searchSpace #input input {
    width: 50%;
  }
  #inventoryMain #tableBorder {
    margin-top: 20px;
    margin: 20px 10px;
  }
  #inventoryMain .removeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #000;
    width: 280px;
    height: 80px;
    top: 150%;
    left: -400%;
    padding: 14px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 99;
  }
  #inventoryMain .removeContainer::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 90%;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #FFF transparent;
  }
  #addItemOverlay .modalContent,
  #addItemOverlay2 .modalContent {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 96%;
    width: 92%;
    background-color: #FFF;
    border-radius: 20px;
    position: relative;
  }
  #addItemOverlay .modalContent .closeModal,
  #addItemOverlay2 .modalContent .closeModal {
    left: 90%;
  }
  #addItemOverlay .modalContent .row,
  #addItemOverlay2 .modalContent .row {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #addItemOverlay .modalContent .row .leftModal,
  #addItemOverlay .modalContent .row .rightModal,
  #addItemOverlay2 .modalContent .row .leftModal,
  #addItemOverlay2 .modalContent .row .rightModal {
    margin: 0px;
    padding: 0px 16px;
    width: 90%;
  }
  #addItemOverlay .modalContent .row .leftModal h2,
  #addItemOverlay .modalContent .row .rightModal h2,
  #addItemOverlay2 .modalContent .row .leftModal h2,
  #addItemOverlay2 .modalContent .row .rightModal h2 {
    margin: 0px;
  }
  #addItemOverlay .modalContent .row .leftModal input,
  #addItemOverlay .modalContent .row .leftModal select,
  #addItemOverlay .modalContent .row .rightModal input,
  #addItemOverlay .modalContent .row .rightModal select,
  #addItemOverlay2 .modalContent .row .leftModal input,
  #addItemOverlay2 .modalContent .row .leftModal select,
  #addItemOverlay2 .modalContent .row .rightModal input,
  #addItemOverlay2 .modalContent .row .rightModal select {
    height: 45px;
    padding: 8px 0px;
    width: 96%;
  }
  #addItemOverlay .modalContent .row .leftModal textarea,
  #addItemOverlay .modalContent .row .rightModal textarea,
  #addItemOverlay2 .modalContent .row .leftModal textarea,
  #addItemOverlay2 .modalContent .row .rightModal textarea {
    width: 96%;
  }
  #addItemOverlay .modalContent .row .leftModal .uploadDelete,
  #addItemOverlay .modalContent .row .rightModal .uploadDelete,
  #addItemOverlay2 .modalContent .row .leftModal .uploadDelete,
  #addItemOverlay2 .modalContent .row .rightModal .uploadDelete {
    flex-direction: row;
    width: 100%;
  }
}
#pendingOrdersMain,
#myOrdersMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
#pendingOrdersMain #headingSection,
#pendingOrdersMain .pendingOrders,
#myOrdersMain #headingSection,
#myOrdersMain .pendingOrders {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
  margin-top: 20px;
  background: #dadcdd;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 20px;
}
#pendingOrdersMain #headingSection .orderStatus,
#pendingOrdersMain .pendingOrders .orderStatus,
#myOrdersMain #headingSection .orderStatus,
#myOrdersMain .pendingOrders .orderStatus {
  display: flex;
  position: relative;
  margin-left: auto;
  width: 90px;
}
#pendingOrdersMain #headingSection .orderStatus .cancelOrder,
#pendingOrdersMain .pendingOrders .orderStatus .cancelOrder,
#myOrdersMain #headingSection .orderStatus .cancelOrder,
#myOrdersMain .pendingOrders .orderStatus .cancelOrder {
  cursor: pointer;
  margin-left: 26px;
}
#pendingOrdersMain .pendingOrders,
#myOrdersMain .pendingOrders {
  position: relative;
  border: 1px solid #dadcdd;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 20px;
  min-height: 40px;
}
#pendingOrdersMain .pendingOrders .firstThree,
#myOrdersMain .pendingOrders .firstThree {
  display: flex;
  width: 45%;
}
#pendingOrdersMain .pendingOrders .firstThree span,
#myOrdersMain .pendingOrders .firstThree span {
  width: 33%;
}
#pendingOrdersMain .pendingOrders .firstTwo,
#myOrdersMain .pendingOrders .firstTwo {
  display: flex;
  width: 30%;
}
#pendingOrdersMain .pendingOrders .firstTwo span,
#myOrdersMain .pendingOrders .firstTwo span {
  width: 50%;
}
#pendingOrdersMain .pendingOrders .cancelOrderContainer,
#myOrdersMain .pendingOrders .cancelOrderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #000;
  width: 280px;
  height: 80px;
  top: 28px;
  left: -236px;
  padding: 14px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 99;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#pendingOrdersMain .pendingOrders .cancelOrderContainer::before,
#myOrdersMain .pendingOrders .cancelOrderContainer::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #FFF transparent;
}
#pendingOrdersMain .codeColumn,
#myOrdersMain .codeColumn {
  width: 15%;
}
#pendingOrdersMain .qtyColumn,
#myOrdersMain .qtyColumn {
  width: 15%;
}
#pendingOrdersMain .priceColumn,
#myOrdersMain .priceColumn {
  width: 15%;
}
#pendingOrdersMain .orderedByColumn,
#pendingOrdersMain .nameColumn,
#myOrdersMain .orderedByColumn,
#myOrdersMain .nameColumn {
  width: 25%;
}
#pendingOrdersMain .orderDateColumn,
#myOrdersMain .orderDateColumn {
  width: 20%;
}
#pendingOrdersMain .actionColumn,
#myOrdersMain .actionColumn {
  align-self: flex-end;
}
#pendingOrdersMain .completeButton,
#myOrdersMain .completeButton {
  cursor: pointer;
  margin-top: 20px;
  color: #FFF;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #ED1C25;
  font-style: normal;
  font-size: 16px;
  margin-top: 0px;
  width: 90px;
}

@media screen and (max-width: 768px) {
  #root #pendingOrdersMain #headingSection,
  #root #myOrdersMain #headingSection {
    display: none;
  }
  #root #pendingOrdersMain .pendingOrders,
  #root #myOrdersMain .pendingOrders {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 76%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 10px;
  }
  #root #pendingOrdersMain .pendingOrders .cancelOrderContainer,
  #root #myOrdersMain .pendingOrders .cancelOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #000;
    width: 280px;
    height: 80px;
    top: 26px;
    left: -252px;
    padding: 14px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 99;
  }
  #root #pendingOrdersMain .pendingOrders .cancelOrderContainer::before,
  #root #myOrdersMain .pendingOrders .cancelOrderContainer::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 90%;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #FFF transparent;
  }
  #root #pendingOrdersMain .pendingOrders span,
  #root #myOrdersMain .pendingOrders span {
    width: 100%;
    padding: 10px 0px;
  }
  #root #pendingOrdersMain .pendingOrders .firstThree,
  #root #pendingOrdersMain .pendingOrders .firstTwo,
  #root #pendingOrdersMain .pendingOrders .orderedByColumn,
  #root #pendingOrdersMain .pendingOrders .orderDateColumn,
  #root #pendingOrdersMain .pendingOrders .nameColumn,
  #root #myOrdersMain .pendingOrders .firstThree,
  #root #myOrdersMain .pendingOrders .firstTwo,
  #root #myOrdersMain .pendingOrders .orderedByColumn,
  #root #myOrdersMain .pendingOrders .orderDateColumn,
  #root #myOrdersMain .pendingOrders .nameColumn {
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
    border-spacing: 0;
    border-collapse: collapse;
  }
  #root #pendingOrdersMain .pendingOrders .orderStatus,
  #root #myOrdersMain .pendingOrders .orderStatus {
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }
  #root #pendingOrdersMain .pendingOrders .orderStatus span,
  #root #myOrdersMain .pendingOrders .orderStatus span {
    padding: 0;
  }
  #root #pendingOrdersMain .pendingOrders .nameColumn::before,
  #root #pendingOrdersMain .pendingOrders .codeColumn::before,
  #root #pendingOrdersMain .pendingOrders .qtyColumn::before,
  #root #pendingOrdersMain .pendingOrders .priceColumn::before,
  #root #pendingOrdersMain .pendingOrders .orderedByColumn::before,
  #root #pendingOrdersMain .pendingOrders .orderDateColumn::before,
  #root #pendingOrdersMain .pendingOrders .orderStatus::before,
  #root #myOrdersMain .pendingOrders .nameColumn::before,
  #root #myOrdersMain .pendingOrders .codeColumn::before,
  #root #myOrdersMain .pendingOrders .qtyColumn::before,
  #root #myOrdersMain .pendingOrders .priceColumn::before,
  #root #myOrdersMain .pendingOrders .orderedByColumn::before,
  #root #myOrdersMain .pendingOrders .orderDateColumn::before,
  #root #myOrdersMain .pendingOrders .orderStatus::before {
    font-weight: 700;
  }
  #root #pendingOrdersMain .pendingOrders .codeColumn::before,
  #root #pendingOrdersMain .pendingOrders .qtyColumn::before,
  #root #pendingOrdersMain .pendingOrders .priceColumn::before,
  #root #myOrdersMain .pendingOrders .codeColumn::before,
  #root #myOrdersMain .pendingOrders .qtyColumn::before,
  #root #myOrdersMain .pendingOrders .priceColumn::before {
    display: block;
  }
  #root #pendingOrdersMain .pendingOrders .nameColumn::before,
  #root #myOrdersMain .pendingOrders .nameColumn::before {
    content: "Name";
  }
  #root #pendingOrdersMain .pendingOrders .codeColumn::before,
  #root #myOrdersMain .pendingOrders .codeColumn::before {
    content: "Code";
  }
  #root #pendingOrdersMain .pendingOrders .qtyColumn::before,
  #root #myOrdersMain .pendingOrders .qtyColumn::before {
    content: "Qty";
  }
  #root #pendingOrdersMain .pendingOrders .priceColumn::before,
  #root #myOrdersMain .pendingOrders .priceColumn::before {
    content: "Price";
  }
  #root #pendingOrdersMain .pendingOrders .orderedByColumn::before,
  #root #myOrdersMain .pendingOrders .orderedByColumn::before {
    content: "Ordered by";
  }
  #root #pendingOrdersMain .pendingOrders .orderDateColumn::before,
  #root #myOrdersMain .pendingOrders .orderDateColumn::before {
    content: "Order date";
  }
  #root #pendingOrdersMain .pendingOrders .orderStatus::before,
  #root #myOrdersMain .pendingOrders .orderStatus::before {
    content: "Status";
  }
  #root #pendingOrdersMain .pendingOrders .completeButton,
  #root #myOrdersMain .pendingOrders .completeButton {
    margin-top: 14px;
    margin-bottom: 14px;
    align-self: center;
  }
}/*# sourceMappingURL=styles.css.map */