//Inventory page

//Search

#searchSpace {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    #input {
        @include flex-align(row, flex-end);
        width: 240px;
        height: 36px;
        border-bottom: 1px solid #000;

        input {
            outline: none;
            padding-bottom: 2px;
        }

        svg {
            padding-bottom: 6px;
            margin-right: 10px;
        }
    }

    button {
        cursor: pointer;
        margin-left: 20px;
        width: 120px;
        height: 36px;
        color: $general-white;
        background: $add-button;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        svg {
            margin-right: 6px;
        }
    }
}

//Table

#tableBorder {
    border: 1px solid $border-gray;
    border-radius: 4px;
    margin-top: 40px;
    width: 99%;
    height: 88%;

    .edit {
        cursor: pointer;
        color: $upload-image;
    }

    .delete {
        cursor: pointer;
        margin-left: 10px;
        color: $delete-image;
    }
}


//Modals for adding and editing items

.addForm,
.editForm {
    @include flex-align(column, space-between);
    background-color: $general-white;
    overflow-y: auto;
    overflow-x: auto;

    .row {
        display: flex;
        justify-content: center;
        margin-top: 8%;

        .leftModal {
            @include flex-align(column, flex-start);
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            width: 40%;
            margin-left: 8%;

            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 40px;
            }
        }

        .rightModal {
            @include flex-align(column, center);
            width: 50%;
            justify-content: center;
            margin-top: 14%;

            img {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                max-width: 260px;
                max-height: 150px;
            }

            .uploadDelete {
                @include flex-align(column, center);
                justify-content: space-evenly;
            }

            .uploadImg {
                @include button($upload-image);
                @include flex-align(column, center);
                justify-content: center;
            }

            .deleteImg {
                @include button($main-color);
            }

            .inputImage {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #searchSpace {
        @include flex-align(row, flex-end);
        justify-content: space-between;
        margin: 20px 10px;

        #input {
            width: 46%;

            input {
                width: 50%;
            }
        }
    }

    #tableBorder {
        margin-top: 20px;
        margin: 20px 10px;
        width: auto;
        height: auto;
    }

    .addForm,
    .editForm {
        @include modal(100%, 100%);

        .row {
            @include flex-align(column, center);
            margin-top: 16px;

            .leftModal,
            .rightModal {
                margin: 8px;
                width: 90%;

                h2 {
                    margin-bottom: 28px;
                }

                .uploadDelete {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                }
            }
        }
    }
}