//Marketplace page with the card items

#marketplaceMain {
    @include flex-align(row, flex-start);
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
    justify-content: space-evenly;

    //Card item

    .product {
        @include flex-align(column, space-between);
        margin: 20px 10px;
        width: 260px;
        height: 226px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

        .productButton {
            cursor: pointer;
            align-self: center;
            height: 100%;
        }

        img {
            height: 150px;
        }

        .productContent {
            display: flex;
            justify-content: space-between;
            padding: 14px;

            .price {
                @include flex-align(column, flex-start);

                span {
                    line-height: 22px;
                    font-weight: 600;
                }

                small {
                    font-size: 12px;
                }
            }

            form {
                display: flex;
                position: relative;

                .quantity {
                    @include flex-align(column, flex-start);

                    span {
                        font-size: 10px;
                        color: $border-gray;
                    }

                    select {
                        cursor: pointer;
                        border-bottom: 1px solid #000;
                    }
                }

                .buyButton {
                    cursor: pointer;
                    background: none;
                    width: 31px;
                    height: 31px;
                    margin-left: 4px;
                }
            }
        }
    }
}

//Modal with more info for card item

#productModal {
    @include flex-align(column, space-between);
    background-image: url("/images/marketplace/ellipse.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 620px;
    max-width: 640px;
    width: 100%;
    overflow-y: auto;

    #modalImage {
        align-self: center;
        height: auto;
        max-height: 320px;
        width: fit-content;
    }

    #modalFrameOne {
        @include flex-align(column, space-between);
        margin-top: 20px;
        margin-left: 20px;
        flex-wrap: wrap;

        #modalFrameTwo {
            display: flex;
            justify-content: space-between;

            #productName {
                @include flex-align(column, flex-start);
            }

            #priceAndQty {
                @include flex-align(column, flex-end);
                margin-right: 20px;
            }

            b {
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
            }

            small {
                padding: 4px 0px;
            }
        }

        p {
            overflow-y: auto;
            margin-top: 10px;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
    }
}


@media screen and (max-width: 768px) {
    #productModal {
        #modalFrameOne {
            #modalFrameTwo {
                @include flex-align(column, flex-start);
                width: 100%;

                #productName {
                    width: 100%;
                }

                #priceAndQty {
                    margin: 10px 0;
                }

                b {
                    align-self: flex-start;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                }

                small {
                    padding: 0px;
                    align-self: flex-start;
                }
            }

            p {
                text-overflow: ellipsis;
            }
        }
    }
}